.app_subheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-color: black;
  color: whitesmoke;
}
.app_subheading_title {
  width: 50%;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: Orbitron;
}
.app_subheading_text {
  width: 66%;
  font-size: 20px;
  font-weight: 200;
}
