.app-header {
  display: flex;
  height: 80vh;
  width: 100%;
  background: black;
}
.app_header-presentation {
  position: relative;

  text-align: center;
  height: 75vh;
  width: 100%;
}
.app_header-presentation-movie {
  position: absolute;
  height: 75vh;
  width: 100%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#video {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app_header-presentation-text {
  position: absolute;
  color: rgb(201, 152, 89);
  font-family: Orbitron;
  font-size: 48px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.app_header_options {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: -100px;
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: 1;
}
.app_header_options-single {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
  flex-direction: column;
  display: flex;
}

.app_header_options-single img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: 1;
  border: none;
  box-shadow: rgb(116, 116, 116) 2px 2px 1px 0px,
    rgb(109, 109, 109) 2px 2px 2px 0px, rgb(106, 105, 105) 0px 0px 0px 0px inset;
}
.app_header_options-single span {
  text-align: center;
  color: rgb(202, 202, 202);
  font-family: Orbitron;
  font-size: 18px;
  margin-top: 7px;
}

@keyframes slide {
  from {
    top: -35px;
  }
  top {
    top: -100px;
  }
}
