.app-header {
  display: flex;
  height: 800px;
  width: 100%;
  background: black;
}
.app_header-presentation {
  position: relative;
  background-color: rgb(83, 70, 166);
  text-align: center;
  height: 650px;
  width: 100%;
}
.app_header-presentation-movie {
  position: absolute;
  height: 650px;
  width: 100%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.app_header-presentation-text {
  position: absolute;

  font-family: Orbitron;
  font-size: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.app_header_options {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: -100px;
  animation-duration: 2s;
  animation-name: slide;
  animation-iteration-count: 1;
}
.app_header_options-single {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(94, 33, 150);
  cursor: pointer;
}

@keyframes slide {
  from {
    top: -50px;
  }
  top {
    top: -100px;
  }
}
