.app-header {
  height: 800px;
  width: 100%;
}
.app_header-presentation {
  height: 650px;
  width: 100%;
  background-color: rgb(83, 70, 166);
}
.app_header-presentation-movie {
  height: 400px;
}
.app_header-presentation-text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Orbitron;
  font-size: 40px;
}
.app_header_options {
  display: flex;
  justify-content: space-around;
}
.app_header_options-single {
  width: 300px;
  height: 200px;
  background-color: blueviolet;
}
