.app_navbar {
  display: flex;
  align-items: center;
  height: 60px;
  background: linear-gradient(
    111deg,
    rgb(0, 0, 0) 14%,
    rgba(138, 138, 145, 1) 15%,
    rgb(11, 11, 11) 17%,
    rgb(45, 45, 45) 100%
  );
}
.app_navbar span {
  display: flex;
  color: rgb(179, 179, 180);
  font-size: 23px;
  padding-left: 3rem;
  font-family: Orbitron;
}
