@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title {
  font-size: 40px;
  font-weight: 400;
  font-family: Orbitron;
  color: rgb(201, 152, 89);
  text-align: center;
  margin-bottom: 1rem;
}
.text {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: antiquewhite;
}
