.app_rooms {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 100%;
}
.app_rooms_title {
  font-family: Orbitron;
  color: whitesmoke;
  font-size: 33px;
  text-align: center;
  margin: 10rem 0 5rem 0;
}
.app_rooms_content {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
.slide-card {
  width: 600px;
  height: 350px;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: none;
  color: whitesmoke;
  text-align: center;
}
