.app_rooms {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 100%;
}
.app_rooms_title {
  font-family: Orbitron;
  color: rgb(201, 152, 89);
  font-size: 33px;
  text-align: center;
  margin: 10rem 0 5rem 0;
}
.app_rooms_content {
  width: 100%;
  height: 100%;
  background: url("../../pics/background-stars.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
.slide-card {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: rgb(7, 7, 7);
  width: 900px;
  height: 550px;
}
.room-title {
  padding: 3rem;
  font-size: 28px;
  background: none;
  font-family: Orbitron;
  color: rgb(201, 152, 89);
}
.room-text {
  padding: 3rem;
  font-size: 19px;
  font-weight: 200;
  width: 460px;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(211, 210, 210);
}
.slider-button {
  height: 70px;
  width: 170px;
  color: rgb(201, 152, 89);
  background: none;
  font-size: 20px;
  border: 0.5px solid;
  cursor: pointer;
  margin: 3rem;
}
.each-slide-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 25%;
  left: 57%;
  border: none;
  box-shadow: rgb(135, 134, 134) 0px 12px 28px 0px,
    rgba(128, 122, 122, 0.996) 5px 2px 4px 0px,
    rgb(106, 105, 105) 0px 0px 0px 1px inset;
}
